filebeat.inputs:
- type: log
  paths:
    - /var/log/nginx/access.log
    - /var/log/nginx/error.log

output.elasticsearch:
  hosts: ["https://{{ elasticsearch_host }}:9200"]
  username: "{{ filebeat_username }}"
  password: "{{ filebeat_password }}"
  ssl.certificate_authorities: ["/etc/filebeat/certs/ca.crt"]
